.portfolio-metrics {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;
}

.portfolio-metrics > div {
    background: var(--color-white);
    padding: 2.2rem 1rem 2.2rem 1rem;
    border-radius: var(--card-border-radius);
    margin-top: 1rem;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
    overflow: hidden;
}

.portfolio-metrics > div:hover {
    box-shadow: none;
}

.total {
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1rem;
}

.left {
    max-width: 90%;
}
.portfolio-metrics > div span {
    display: inline-block;
    height: 3.5rem;
    width: 3.5rem;
    text-align: center;
    padding: 0.5rem;
    border-radius: 50%;
    color: var(--color-white);
    font-size: 2rem;
    background: var(--color-primary);
}

.portfolio-metrics > div.total-sold span {
    background: var(--color-danger)
}

.portfolio-metrics > div.capital-gains span {
    background: var(--color-success)
}

.portfolio-metrics > div .middle {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.portfolio-metrics h3 {
    margin: 1rem 0 0rem;
    font-size: 1rem;
}

.portfolio-metrics .total-profit-margin {
    position: relative;
    display: flex;
    align-items: center;
    gap: 0.2rem;
    align-self: flex-end;
    margin-bottom: 0.4rem;
    max-width: 45%;
}

.portfolio-metrics .total-profit-margin div{
    font-size: 1rem;
    background: none;
}

.portfolio-metrics h2 {
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1rem;
}
.portfolio-metrics h2:hover {
    filter: brightness(0%);
}
@media screen and (max-width: 1280px) {
    .portfolio-metrics {
        grid-template-columns: repeat(2, 14rem);
        gap: 0.5rem;
        row-gap: 0;
    }
    .portfolio-metrics > div .middle {
        gap: 0rem;
    }
}

@media screen and (max-width: 768px) {
    main {
   
    }
    .portfolio-metrics {
        grid-template-columns: 1fr;
        gap: 0rem;
        row-gap: 0;
        width: 100%;
    }
}

@media screen and (min-width: 3000px) {
    .portfolio-metrics {
        grid-template-columns: repeat(5, 1fr);
    }
    .portfolio-metrics h3 {
        font-size: 1.2rem;
    }
    .portfolio-metrics h1 {}
}