@import './vars.css';

aside {
    height: 100vh;
}

aside .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.4rem;
}

aside .logo img {
    width: 10rem;
    height: 3rem;
}

aside .close {
    display: none;
}

aside .sidebar {
    display: flex;
    flex-direction: column;
    height: 86vh;
    position: relative;
    top: 3rem;
}

aside h3 {
    font-weight: 500;
}

.side-btn h3 {
    font-weight: 600;
}

.nav-links, .side-btn{
    display: flex;
    color: var(--color-info-dark);
    margin-left: 2rem;
    gap: 1rem;
    align-items: center;
    position: relative;
    height: 4.3rem;
    transition: all 300ms ease;
}

.nav-links h3, .side-btn h3 {
    margin-bottom: 0.4rem;
}

.nav-links span {
    font-size: 1.6rem;
    transition: all 300ms ease;
}

.side-btn {
    background: none;
    border: none;
    cursor: pointer;
}

.logout-btn {
    position: absolute;
    top: 25rem;
    width: 100%;
}

.side-btn span {
    font-size: 1.6rem;
    transition: all 300ms ease;
}

.nav-links.active, .side-btn.active {
    background: var(--color-light);
    color: var(--color-primary);
    margin-left: 0;
}

.nav-links.active:before, .side-btn.active:before {
    content: '';
    width: 6px;
    height: 100%;
    background: var(--color-primary);
}

.nav-links.active span, .side-btn.active span {
    color: var(--color-primary);
    margin-left: calc(1rem - 3px);
}

.nav-links:hover, .side-btn:hover {
    color: var(--color-primary);
}

.nav-links:hover span, .side-btn:hover span{
    margin-left: 1rem;
}

@media screen and (max-width: 1200px) {
    aside .logo {
        display: none
    }

    aside .sidebar h3 {
        display: none;
    }

    aside .nav-links, .side-btn {
        width: 5.6rem;
    }

    aside .logout-btn {
        position: relative;
        top: 0rem;
        margin-top: 1.8rem;
    }
}

@media screen and (max-width: 768px) {
    aside {
        position: fixed;

        background: var(--color-white);
        width: 18rem;
        z-index: 3;
        box-shadow: 1rem 3rem 4rem var(--color-light);
        height: 100vh;
        padding-right: var(--card-padding);
        top: 0;
        left: -100%;
        animation: showSidebar 400ms ease forwards; 
        display: none;       
    }
    @keyframes showSidebar {
        to {
            left: 0;
        }
    }
    aside.active {
        display: block;
   }
    aside .logo {
        display: inline;
        margin-left: 1rem;
    }

    aside .sidebar h3 {
        display: inline;;
    }

    aside .nav-links, .side-btn {
        width: 100%;
    }

    aside .close {
        display: inline-block;
        cursor: pointer;
        font-size: 2rem;
    }
}